body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header'
    'main section'
    'footer footer'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
section{grid-area: section;}
footer{grid-area: footer;}

main{
    margin-top: 300px;
    padding: 20px;
}

section {
    margin-top: 300px;
    padding: 20px;
}

h2{
    text-align: center;
}