body {
    min-height: 100vh;
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'header header'
    'main section'
    'footer footer'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
section{grid-area: section;}
footer{grid-area: footer;}

main{
    margin-top: 1500px;
    padding: 20px;
}

section {
    margin-top: 150px;
    padding: 40px;
}

h2{
    text-align: center;
    color: #030D8C;
    font-size: 40px;
}

@media (max-width: 600px) {
   
    main{
        display: none;
    }

    section{
        margin-top: 100px;
    }

}