body {
    min-height: 100vh;
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header header'
    'main textfield'
    'footer footer'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
.textfield{grid-area: textfield;}
footer{grid-area: footer;}

main{
    margin-top: 300px;
    padding: 20px;
}

.textfield {
    margin-top: 300px;
    padding: 40px;
}

h2{
    text-align: center;
    color: #030D8C;
    font-size: 40px;
}

@media (max-width: 600px) {

    body {
        min-height: 100vh;
        display: grid;
        grid-gap: 0;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        'header header'
        'textfield textfield'
        'footer footer'
        ;
    }
   
    main{
        display: none;
    }

    .textfield{
        margin-top: 100px;
    }

    #phone, #mail{
        display: none;
    }

}