header{grid-area: header;}
.browse-new{grid-area: browse-new;}
.browse-used{grid-area: browse-used;}
footer{grid-area: footer;}

body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header'
    'browse-new browse-used'
    'footer footer'
    ;
}

.browse-new{
    margin-top: 150px;
}

.browse-used{
    margin-top: 150px;
}

h2{
    color: #030D8C;
    text-align: center;
}

.horizon, .fifa{
    border-radius: 20px;
    width: 140px;
    height: 140px;
}

.fifa-section, .horizon-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fifa-area, .horizon-are{
    text-align: center;
}