h1 {
  margin: 120px 20px 20px 0;
  color: #1b203d;
  text-align: center;
  text-transform: uppercase;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-card {
  margin: 40px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  height: 460px;
}

.game-cover {
  width: 250px;
  height: 300px;
  padding: 10px;
}

.add-cart {
  padding: 10px;
  margin: 5px;
  font-family: glitch, sans-serif;
  background: #596ac9;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

.add-cart:hover {
  color: white;
  background: #1b203d;
}

.game-card h3 {
  margin: 20px 10px;
  text-transform: uppercase;
  color: #1b203d;
}
