header{grid-area: header;}
.browse-new{grid-area: browse-new;}
.browse-used{grid-area: browse-used;}
footer{grid-area: footer;}

body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header'
    'browse-new browse-used'
    'footer footer'
    ;
}

.browse-new{
    margin-top: 150px;
    border-right: solid 2px #1B203D;
}

.browse-used{
    margin-top: 150px;
}

h2{
    color: #030D8C;
    text-align: center;
}

.horizon, .fifa{
    border-radius: 20px;
    width: 180px;
    height: 180px;
}

.fifa-section, .horizon-section{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
}