header{grid-area: header;}
.browse-new{grid-area: browse-new;}
.browse-used{grid-area: browse-used;}
footer{grid-area: footer;}

body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header'
    'browse-new browse-used'
    'footer footer'
    ;
}

.browse-new{
    margin-top: 300px;
}

.browse-used{
    margin-top: 300px;
}

h2{
    color: #030D8C;
    text-align: center;
}

.horizon, .fifa{
    border-radius: 20px;
    width: 140px;
    height: 140px;
}

.fifa-section, .horizon-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.fifa-section{
    border-right: 2px solid #1B203D;
}

.fifa-area, .horizon-area{
    text-align: center;
    margin: 20px;
}

.add-to-cart, .pre-order-now{
    background-color: #030D8C;
    width: 260px;
    height: auto;
    margin: 10px;
    padding: 3px 10px;
    color: #f2f2f2;
    font-family: 'russo one', sans-serif;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    border: 3px solid #030D8C;
    border-radius: 15px; 
}

.add-to-cart:hover, .pre-order-now:hover{
    background-color: #f2f2f2;
    color: #030D8C;
    border: 3px solid #030D8C;
}