h2{
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
}

.footer-text{
    display: flex;
    justify-content: start;
}

@media (max-width: 600px) {

    h2{
        margin-top: 200px;
        text-align: center;
        font-size: 28px;
    }

}