header{grid-area: header;}
.heading{grid-area: heading;}
main{grid-area: main;}
.delivery{grid-area: delivery;}
.summary{grid-area: summary;}
footer{grid-area: footer;}

body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    'header header'
    'heading heading'
    'main main'
    'delivery delivery'
    'summary summary'
    'footer footer'
    ;
}

.heading{
    margin-top: 100px;
}

h2{
    color: #030D8C;
}

main{
    border-top: #1B203D 2px solid;
    border-bottom: #1B203D 2px solid;
    min-height: 300px;
}

form{
    padding: 10px;
}

.form__input{
    display: block;
    font-size: 28px; 
}

fieldset{
    border: none;
}

label{
    font-size: 28px;
    color: #1B203D;
    font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
}