.banner {
  margin-top: 80px;
  background: url("../images/banner.jpg");
  background-size: cover;
  max-width: 100%;
  height: 500px;
}

.banner h1 {
  text-align: center;
  color: white;
  padding-top: 150px;
}

.c2a-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.buy-sell-buttons {
  padding: 15px;
  margin-left: 20px;
  width: 150px;
  color: white;
  border: none;
  border-radius: 50px;
  font-family: glitch, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.5s;
}

#buy-button,
#sell-button {
  background: #596ac9;
}

#sell-button:hover,
#buy-button:hover {
  background: #1b203d;
}

.explore-latest-titles h2 {
  color: #1b203d;
  padding: 20px;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 40px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  height: 550px;
  width: 300px;
  text-decoration: none;
}

.card:hover {
  box-shadow: 7px 7px 7px 7px #888888;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 250px;
  margin: 1em auto;
}

.name,
.price {
  text-align: center;
  text-decoration: none;
  color: #1b203d;
}

@media (max-width: 858px) {
  h1 {
    padding: 10px;
  }

  .explore-latest-titles h2 {
    text-align: center;
  }
}
