body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto 24em auto auto;
    grid-template-areas: 
    'header header'
    'section section'
    'main aside'
    'footer footer'
    ;
}

header{grid-area: header;}
section{grid-area: section;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}


.banner{
    background-image: url('../images/background_home.png');
    margin-top: 100px;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.headline{
    display: flex;
    justify-content: center;
    padding-top: 160px;
    text-align: center;
}

h2{
    text-align: center;
    padding-top: 2em;
}

main{
    padding-top: 8em;
}

.account{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

@media(min-width: 600px){
    body {
        display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto 24em auto auto;
    grid-template-areas: 
    'header header'
    'section section'
    'aside aside'
    'main main'
    'footer footer'
    ;

    }
}
