.banner{
    background-image: url('../images/background_home.png');
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.headline{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    text-align: center;
}

main{
    display: block;
}