body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto 24em auto auto;
    grid-template-areas: 
    'header header'
    'section section'
    'main aside'
    'footer footer'
    ;
}

header{grid-area: header;}
section{grid-area: section;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}


.banner{
    background-image: url('../images/background_home.png');
    margin-top: 100px;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.headline{
    display: flex;
    justify-content: center;
    padding-top: 160px;
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 2em;
}

main{
    margin-top: 8em;
}

.products{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 40px;
    gap: 20px;
}

.buy-games{
    background-color: #030D8C;
    width: 260px;
    height: auto;
    padding: 3px 0;
    color: #f2f2f2;
    font-family: 'russo one', sans-serif;
    text-decoration: none;
    font-size: 32px;
    text-align: center;
}

.sell-games{
    background-color: #030D8C;
    width: 260px;
    height: auto;
    padding: 3px 0;
    color: #f2f2f2;
    font-family: 'russo one', sans-serif;
    text-decoration: none;
    font-size: 32px;
    text-align: center;
}

.buy-games:hover{
    background-color: #1B203D;
}

.sell-games:hover{
    background-color: #1B203D;
}

@media (max-width: 600px) {
    body {
        display: grid;
        grid-gap: 0;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        'header header'
        'section section'
        'aside aside'
        'main main'
        'footer footer'
        ;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        margin-top: 10px;
        font-size: 28px;
    }

    main {
        margin-top: 0;
    }
    
    p {
        font-size: 22px;
    }

}

@media (max-width:768px) {
    body {
        display: grid;
        grid-gap: 0;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        'header header'
        'section section'
        'aside aside'
        'main main'
        'footer footer'
        ;
    }
    
    h2 {
        margin-top: 10px;
    }

    main {
        margin-top: 0;
    }


}