body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    'header header'
    'section section'
    'main aside'
    'footer footer'
    ;
}

header{grid-area: header;}
section{grid-area: section;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}


.banner{
    background-image: url('../images/background_home.png');
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.headline{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    text-align: center;
}

