h1,
h2 {
  color: #1b203d;
}

h1 {
  text-align: center;
  margin-top: 150px;
}

#loginForm {
  max-width: 400px;
  margin: 100px auto;
}

form {
  border-radius: 1rem;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #1b203d;
}

.login-btn {
  font-family: glitch, sans-serif;
  background: #596ac9;
  border: none;
  width: 200px;
  padding: 1em;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0.2em;
}

.login-btn:hover {
  background: #1b203d;
}

.form-label {
  display: block;
  margin-top: 1em;
  color: #1b203d;
}

.form-error {
  display: none;
  color: red;
}

.register-btn {
  margin-bottom: 200px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  #loginForm {
    max-width: 300px;
  }

  .heading {
    width: 300px;
  }
}
