body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}


main{
    margin-top: 200px;
    justify-content: center;
}

#profilepic{
    border-radius: 25px;
}