body {
    min-height: 100vh;
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: 
    'header header'
    'heading heading'
    'main main'
    'info info'
    'footer footer'
    ;
}

header{grid-area: header;}
.heading{grid-area: heading;}
main{grid-area: main;}
.info{grid-area: info;}
footer{grid-area: footer;}

main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1{
    font-size: 40px;
    color: #030D8C;
    margin-top: 150px;
}

.info{
    display: inline;
    margin: auto;
    text-align: center;
}

h3{
    margin: 10px;
}

#profilepic{
    border-radius: 25px;
}

@media (max-width: 600px) {

    main{
        margin-top: 50px;
    }

}