body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header'
    'main main'
    'section section'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
section{grid-area: section;}

main{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

section{
    display: inline;
    margin: auto;
    text-align: center;
}

h3{
    margin: 10px;
}

#profilepic{
    border-radius: 25px;
}

h1{
    color: #030D8C;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
}

@media (max-width: 600px) {

    main{
        margin-top: 150px;
    }

}