body {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header'
    'main main'
    'section section'
    'footer footer'
    ;
}

header{grid-area: header;}
main{grid-area: main;}
section{grid-area: section;}
footer{grid-area: footer;}

main{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

section{
    display: inline;
    margin: auto;
}

#profilepic{
    border-radius: 25px;
}