h1,
h2 {
  color: #1b203d;
}

.game {
  margin: 200px auto;
  max-width: 1000px;
  box-shadow: 2px 2px 2px 2px #888888;
  padding: 20px;
}

.details-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.details-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  min-width: 300px;
  margin: 1em auto;
}

.price {
  margin: 20px 0;
}

.add-cart {
  padding: 10px;
  font-family: glitch, sans-serif;
  background: #596ac9;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  width: 150px;
}

.add-cart:hover {
  color: white;
  background: #1b203d;
}

@media (max-width: 858px) {
  .details-container {
    flex-direction: column;
  }

  .game {
    margin: 100px 20px;
  }

  .details-image {
    margin: 0.5em auto;
  }

  h1,
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .add-cart {
    margin: 0 auto;
  }

  .game p {
    width: 300px;
    margin: 0 auto;
  }
}
