form{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.form__input{
    display: block;
    font-size: 28px;    
}

fieldset{
    border: none;
}

label{
    font-size: 28px;
    color: #1B203D;
}

.submit{
    background-color: #030D8C;
    width: 260px;
    height: auto;
    margin: 10px;
    padding: 3px 20px;
    color: #f2f2f2;
    font-family: 'russo one', sans-serif;
    text-decoration: none;
    font-size: 32px;
    text-align: center;
    border: 3px solid #030D8C;
    border-radius: 15px; 
}