form{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.form__input{
    display: block;
    font-family: 'roboto', Verdana, Tahoma, sans-serif;
    font-size: 28px;
    color: #1B203D;
}