@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);

form{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.form__input{
    display: block;
    font-size: 28px;    
}

fieldset{
    border: none;
}

label{
    font-family: 'russo one' sans-serif;
    font-size: 28px;
    color: #1B203D;
}