form{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.form__input{
    display: block;    
}

fieldset{
    border: none;
}

label{
    font-family: 'russo one' sans-serif;
    font-size: 28px;
    color: #1B203D;
}