form{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.form__input{
    display: block;    
}

fieldset{
    border: none;
}

.username{
    font-family: 'roboto' Verdana, Geneva, Tahoma, sans-serif;
}