html, body{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: #119ABF;
    min-height: 100px;
}

.logo{
    max-width: 100px;
    padding: 20px;
}

nav, #hamburger-menu {
    display: none;
}

nav ul{
    padding: 0px;
}

nav li{
    display: block;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    display: block;
}

.hamburger-label{
    float: right;
    color: #ffffff;
    padding: 10px;
    font-size: 1.5em;
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block;
}