@font-face {
  font-family: "glitch";
  src: url(../fonts/glitch.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: glitch, sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: auto;
  background: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #1b203d;
}

nav {
  background: white;
  height: 80px;
  width: 100%;
  font-family: glitch, sans-serif;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #1b203d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
}

.checkbtn {
  font-size: 30px;
  color: #1b203d;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

hr {
  border: 1px solid #1b203d;
}

.logo {
  margin: 10px;
  width: auto;
  height: 60px;
}

.current,
a:hover {
  color: #596ac9;
  transition: 0.5s all;
}

footer {
  background: #1b203d;
  color: white;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer h4,
footer p {
  color: white;
}

.contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.returns,
.warranty,
.terms,
.contact-footer {
  text-decoration: none;
  color: white;
}

#success {
  display: none;
  text-align: center;
  margin-top: 20px;
  border: 1px solid green;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 858px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .checkbtn {
    display: block;
  }

  ul {
    background: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    transition: 0.5s;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #1b203d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 250px auto;
  transform: translateX(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }

  .contact,
  .faq {
    margin: 20px auto;
  }
}
