body{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: cornflowerblue;
}

nav{
    display: none;
}

#hamburger-menu{
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
    color: #ffffff;
}