*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #f2f2f2;
}

header{
    background-color: #1B203D;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100px;
}

footer{
    background-color: #1B203D;
    height: 50px;
}

h1{
    font-family: 'russo one', sans-serif;
    font-size: 48px;
    color: #f2f2f2;
}

h2{
    font-family: 'russo one', sans-serif;
    font-size: 32px;
    color: #1B203D;
    padding: 10px;
}

h3{
    font-family: 'russo one', sans-serif;
    font-size: 28px;
    color: #1B203D;
}

p{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #1B203D;
    padding: 10px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-text-phone, #footer-text-mail{
    color: #f2f2f2;
    font-size: 22px;
}

#phone, #mail{
    height: 20px;
    width: 20px;
    margin-top: 12px;
}

.logo{
    max-width: 100px;
    padding: 20px;
}

nav, #hamburger-menu {
    display: none;
    padding-top: 35px;
}

nav ul{
    padding: 0px;
}

nav li{
    display: flex;
    padding: 10px;
}

nav a{
    font-family: 'russo one', sans-serif;
    text-decoration: none;
    color: #f2f2f2;
}

nav a:hover{
    text-decoration: underline;
}

.hamburger-label{
    float: right;
    color: #f2f2f2;
    padding: 10px;
    font-size: 2em;
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.current{
    text-decoration: underline;
}

@media(max-width: 600px){
    .logo {
        float: left;
    }

    nav {
        display: inline-block;
    }

    .hamburger-label {
        display: none;
    }

    ul {
        display: flex;
    }

    li {
        display: inline-block;
        padding: 19% 40px;
    }
    
}

