*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #f2f2f2;
}

header{
    background-color: #1B203D;
    min-height: 100px;
}

footer{
    background: #1B203D;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.footer-text{
    color: #f2f2f2;
}

h1{
    font-family: 'russo one', sans-serif;
    font-size: 48px;
    color: #f2f2f2;
}

h2{
    font-family: 'russo one', sans-serif;
    font-size: 32px;
    color: #1B203D;
    padding: 10px;
}

p{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #1B203D;
    padding: 10px;
}

.logo{
    max-width: 100px;
    padding: 20px;
}

nav, #hamburger-menu {
    display: none;
    padding-top: 35px;
}

nav ul{
    padding: 0px;
}

nav li{
    display: flex;
    font-family: 'russo one', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

nav li:hover{
    text-decoration: underline;
}

.hamburger-label{
    float: right;
    color: #ffffff;
    padding: 10px;
    font-size: 1.5em;
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

@media(min-width: 600px){
    .logo {
        float: left;
    }

    nav {
        display: inline-block;
    }

    .hamburger-label {
        display: none;
    }

    ul {
        display: flex;
    }

    li {
        display: inline-block;
        padding: 19% 40px;
    }
}

